<%- include('navbar/head.ejs') %>






  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="hero">
        <div class="container">

          <div class="hero-content">

            <p class="hero-subtitle">AnimeEZ!</p>

            <h1 class="h1 hero-title">
              Watch anime series and movies<strong> without ads. </strong>
            </h1>

            <!-- <div class="meta-wrapper">

              <div class="badge-wrapper">
                <div class="badge badge-fill">PG 18</div>

                <div class="badge badge-outline">HD</div>
              </div>

              <div class="ganre-wrapper">
                <a href="#">Romance,</a>

                <a href="#">Drama</a>
              </div>

              <div class="date-time">

                <div>
                  <ion-icon name="calendar-outline"></ion-icon>

                  <time datetime="2022">2022</time>
                </div>

                <div>
                  <ion-icon name="time-outline"></ion-icon>

                  <time datetime="PT128M">128 min</time>
                </div>

              </div>

            </div> -->

            <button onclick="location.href = '/tv-shows'" class="btn btn-primary">
              <ion-icon name="play"></ion-icon>

              <span>Browse Anime</span>
            </button>

          </div>

        </div>
      </section>





      <!-- 
        - #UPCOMING
      -->

      <section class="upcoming">
        <div class="container">

          <div class="flex-wrapper">

            <div class="title-wrapper">
              <p class="section-subtitle">ANIME</p>

              <h2 class="h2 section-title">Recently Added</h2>
            </div>

           

          </div>

          <ul class="movies-list  has-scrollbar">
<% recent.forEach((info) => { %>
            <li>
              <div class="movie-card">

                <a href="/details/<%- info.id%>">
                  <figure class="card-banner">
                    <img src="<%- info.image%>" alt="<%- info.title %>">
                  </figure>
                </a>

                <div class="title-wrapper">
                  <a href="/details/<%- info.id %>">
                    <h3 class="card-title"><%- info.title %></h3>
                  </a>
                  <time>Anime</time>
                </div>

                <div class="card-meta">
                  <div class="badge badge-outline">Ep - <%- info.episodenumber %></div>

              
                </div>

              </div>
            </li>
<% }) %>
          
          </ul>

        </div>
      </section>





      <!-- 
        - #SERVICE
      -->

     





      <!-- 
        - #TOP RATED
      -->

      <section class="top-rated">
        <div class="container">

         

          <h2 class="h2 section-title">Popular Animes</h2>

         <% let i = 1 %>

          <ul class="movies-list">
<% popular.forEach((info) => { %>
            <li>
              <div class="movie-card">

                <a href="/details/<%- info.id%>">
                  <figure class="card-banner">
                    <img src="<%- info.image %>" alt="<%- info.title %>">
                  </figure>
                </a>

                <div class="title-wrapper">
                  <a href="/details/<%- info.id%>">
                    <h3 class="card-title"><%- info.title %></h3>
                  </a>

                  <time >Anime</time>
                </div>

                <div class="card-meta">
                  <div class="badge badge-outline">Rank - <%- i %></div>

                

             
                </div>

              </div>
            </li>
  <% i = i + 1 %>
<% }) %>
           

          </ul>

        </div>
      </section>





      <!-- 
        - #TV SERIES
      -->

     





      <!-- 
        - #CTA
      -->

     
    </article>
  </main>




<%- include('navbar/footer.ejs') %>